<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>620926769396-kmv2vh90netkk2e3gir3rrip2vlo3v6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620926769396-kmv2vh90netkk2e3gir3rrip2vlo3v6p</string>
	<key>API_KEY</key>
	<string>AIzaSyCqxEg1NBnNJn9CiWOoNmo8IXTyQ_PeZj8</string>
	<key>GCM_SENDER_ID</key>
	<string>620926769396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.zynas.work-schedule.sp.ios.JoyApp</string>
	<key>PROJECT_ID</key>
	<string>joy-app-b963b</string>
	<key>STORAGE_BUCKET</key>
	<string>joy-app-b963b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620926769396:ios:e8ae53890af4f4f9</string>
	<key>DATABASE_URL</key>
	<string>https://joy-app-b963b.firebaseio.com</string>
</dict>
</plist>